@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    box-sizing: border-box;
  }

  html,
  body,
  #root {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  ::-webkit-scrollbar-track {
    background: rgba(202, 204, 206, 0.04);
  }

  ::-webkit-scrollbar-thumb {
    background: #9b9b9b;
  }

  ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  ::-webkit-scrollbar {
    background: transparent;
  }
}

@layer components {
  .loader {
    width: 50px;
    aspect-ratio: 1;
    border-radius: 50%;
    background:
      radial-gradient(farthest-side, #191919 94%, #0000) top/8px 8px no-repeat,
      conic-gradient(#0000 30%, #191919);
    -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 8px), #000 0);
    animation: l13 1s infinite linear;
  }

  @keyframes l13 {
    100% {
      transform: rotate(1turn)
    }
  }

  .mouseArea {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: .8;
  }

  .mouse {
    height: 30px;
    width: 18px;
    border: 2px solid #9b9b9b;
    border-radius: 14px;
  }

  .wheel {
    width: 4px;
    height: 4px;
    margin: 5px auto;
    border: 2px solid #9b9b9b;
    border-radius: 8px;
  }

  .mouseArrowArea {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 0px;
    margin-top: 2px;
  }

  .mouseArrow {
    display: block;
    width: 8px;
    height: 8px;
    transform: rotate(45deg);
    border-right: 2px solid #9b9b9b;
    border-bottom: 2px solid #9b9b9b;
    animation: mouse-scroll 1s infinite;
    animation-direction: alternate;
    animation-delay: .2s;
  }

  .mouseArrow:first-child {
    animation-delay: 0;
  }

  .mouseArrow:last-child {
    animation-delay: .4s;
  }

  @keyframes mouse-scroll {
    0% {
      opacity: 0;
    }

    50% {
      opacity: 0.5;
    }

    100% {
      opacity: 1;
    }
  }

  .point {
    width: 10px;
    height: 10px;
    background: #9b9b9b;
    border-radius: 50%;
    opacity: .8;
    transition: transform .3s ease-in-out;
  }


  /* skill */
  .skillIconArea {
    transition: all .3s;
  }

  .skill:hover .skillIconArea {
    transform: scale(2);
    margin: 0 1.5em;
  }

  .skill:hover+.skill .skillIconArea {
    transform: scale(1.5);
    margin: 0 1.25em;
  }

  .skill:hover .tooltip {
    display: flex;
  }


}